body {
	background: url(../images/bg.jpg) repeat;
	font-size: 12px;
	font-family: Arial, san-serif;
	font-weight: 400;
	line-height: 18px;
}

.container {
	width: 960px;
	margin: 0 auto;
}

header {
	width: 100%;
	border-top: 4px solid #464646; 
}